---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
import Icon from "astro-iconify";
---



<Layout title="Portafolio de Danna | Programadora web" description="Contrata a Danna para crear tu página web. ">
  <main>
    <section
  id="inicio"
  class="max-w-5xl mx-auto py-16 lg:py-32 px-6 flex flex-col lg:flex-row items-center gap-12 lg:gap-16"
>

      <!-- TEXTO -->
      <div class="lg:w-1/2">
        <div class="flex flex-row items-center gap-3 sm:gap-4 justify-center lg:justify-between">
  <h1 class="text-[var(--text-main)] text-3xl sm:text-4xl font-bold">

    ¡Hola, soy <span style="color: #878fb5;">Danna!</span>
  </h1>
   <a
    href="Danna-Espitia-Frontend-CV.pdf"
    download
    class="border border-[var(--text-main)] text-[var(--text-main)] px-3 py-2 justify-center lg:justify-between rounded-lg text-sm font-semibold
           hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
           transition duration-300"
  >
    Descargar CV
  </a>  
</div>

<div class="mt-3 mb-2 flex justify-center lg:justify-start">
  <div class="typing-box">
    <h2 id="descripcion">
      Desarrolladora Web - Frontend
    </h2>
  </div>
</div>


        <h2 class="text-white py-4 pb-5 text-justify">

          Estudiante de Ingeniería de Sistemas apasionada por el desarrollo web frontend. Disfruto crear interfaces claras, atractivas y funcionales, combinando programación y creatividad para transformar ideas en experiencias visuales agradables.
        </h2>

<ul class="social-buttons sm:flex-row gap-4 py-8 justify-center lg:justify-start">

  <!-- LinkedIn -->
  <li>
    <a href="https://www.linkedin.com/in/danna-espitia-040252325/" class="social-link linkedin">
      <svg viewBox="0 0 256 256" class="icon">
        <path d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"/>
      </svg>
      LinkedIn
    </a>
  </li>

  <!-- GitHub -->
  <li>
    <a href="https://github.com/ln4danna" class="social-link github">
      <svg viewBox="0 0 1024 1024" class="icon">
        <path d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"
          transform="scale(64)" />
      </svg>
      GitHub
    </a>
  </li>

  <!-- Email -->
  <li>
    <a href="mailto:valenpa0407@gmail.com?subject=Contacto%20desde%20mi%20portafolio" class="social-link email">
      <svg viewBox="0 49.4 512 399.42" class="icon">
        <path d="M34.91 448.818h81.454V251L0 163.727V413.91c0 19.287 15.622 34.91 34.91 34.91z"/>
        <path d="M395.636 448.818h81.455c19.287 0 34.909-15.622 34.909-34.909V163.727L395.636 251z"/>
        <path d="M395.636 99.727V251L512 163.727v-46.545c0-43.142-49.25-67.782-83.782-41.891z"/>
        <path d="M116.364 251V99.727L256 204.455 395.636 99.727V251L256 355.727z"/>
        <path d="M0 117.182v46.545L116.364 251V99.727L83.782 75.291C49.25 49.4 0 74.04 0 117.18z"/>
      </svg>
      Email
    </a>
  </li>
</ul>

      </div>

      <!-- IMAGEN -->
      <div class="gif lg:w-1/2 flex justify-center">
        <img
          src="programming.gif"
          alt="chica programando"
          class="w-64 sm:w-80 lg:w-96 h-auto object-cover rounded-2xl"
        />
      </div>

    </section>

<div class="wrapper">
        <div class="item item1">HTML</div>
        <div class="item item2">CSS</div>
        <div class="item item3">JavaScript</div>
        <div class="item item4">ASTRO</div>
        <div class="item item5">PYTHON</div>
        <div class="item item6">REACT</div>
        <div class="item item7">FIGMA</div>
        <div class="item item8">MYSQL</div>

    </div>


    <section
  id="acerca"
  class="max-w-5xl mx-auto py-16 lg:py-32 px-6 flex flex-col lg:flex-row items-center gap-12 lg:gap-16"
>
  <!-- IMAGEN -->
  <div class="lg:w-1/3 flex justify-center">
    <img
      src="IMG_9106.jpeg"
      alt="Foto de Danna"
      class="retrato  object-cover rounded-3xl"
    />
  </div>

  <!-- TEXTO -->
  <div class="lg:w-2/3 text-center lg:text-justify">
    <h1 class="text-[var(--text-main)] text-3xl sm:text-4xl font-bold mb-4">
      Acerca de mí
    </h1>

    <p class="text-white text-sm leading-relaxed mb-6">
      Soy estudiante de Ingeniería de Sistemas, con especial interés en el desarrollo frontend. Me caracterizo por aprender rápido, ser comprometida y dar siempre lo mejor en cada proyecto. Disfruto crear interfaces visuales atractivas y funcionales, donde la creatividad y la experiencia del usuario van de la mano.
    </p>

    <h2 class="text-[var(--text-main)] font-semibold text-lg mb-2">
      Educación
    </h2>
    <p class="text-white text-sm mb-4">
      <strong>Ingeniería de Sistemas</strong><br />
      Corporación Universitaria del Meta<br />
      Séptimo semestre
    </p>

    <h2 class="text-[var(--text-main)] font-semibold text-lg mb-2">
      Idiomas
    </h2>
    <div class="mb-4">
      <p class="text-white text-sm mb-2">
        <strong>Inglés</strong><br />
        Nivel Intermedio - B2
      </p>
      <p class="text-white text-sm">
        <strong>Español</strong><br />
        Nativo
      </p>
    </div>

    <h2 class="text-[var(--text-main)] font-semibold text-lg mb-2">
      Experiencia
    </h2>
    <ul class="text-white text-sm list-disc list-inside mb-6 space-y-1">
      <li>Proyecto Sistemas de Referidos – Diseñadora de Mockups</li>
      <li>ACADEM-IA – Página educativa sobre IA</li>
    </ul>

    <h2 class="text-[var(--text-main)] font-semibold text-lg mb-3 text-center lg:text-left">
      Habilidades técnicas
    </h2>

<div class="flex flex-wrap gap-3 justify-center lg:justify-start">
  <span class="px-3 py-1 text-sm rounded-full border border-[var(--text-main)] text-[var(--text-main)]  
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">HTML</span>
  <span class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">CSS</span>
  <span class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">JavaScript</span>
  <span class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">React</span>
  <span class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">Astro</span>
  <span class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">Git</span>
  <span class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">Vite</span>
  <span class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">Python</span>
  <span class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">MySQL</span>
  <span class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">Figma</span>
</div>

 </section>

<div class="wrapper">
        <div class="item item1">HTML</div>
        <div class="item item2">CSS</div>
        <div class="item item3">JavaScript</div>
        <div class="item item4">ASTRO</div>
        <div class="item item5">PYTHON</div>
        <div class="item item6">REACT</div>
        <div class="item item7">FIGMA</div>
        <div class="item item8">MYSQL</div>

    </div>

<section id="proyectos" class="max-w-5xl mx-auto py-32 flex flex-col items-center text-center"> 
  <div>
    <h1 class="text-[var(--text-main)] text-4xl font-bold mb-4">Proyectos</h1>
    <p class="text-white text-sm mb-10">
      Aquí puedes ver algunos de mis proyectos destacados.
    </p> 
  </div>

  <div class="container">
    <div class="card">
      <img src="sistemareferidos.png" alt="Proyecto 1" />
      <div class="card-content">
        <h3>Sistema de referidos</h3>
        <p>Diseño de un sistema administrativo para la gestión de campañas y referidos, enfocado en la visualización y análisis de datos. Permite crear campañas, monitorear referentes, analizar apoyos y tasas de conversión, e interpretar información mediante dashboards, gráficos y mapas interactivos, priorizando una experiencia clara e intuitiva para la toma de decisiones.</p>
        <span class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">Figma</span><br/><br/>
        <a href="https://www.figma.com/proto/WmHG3GDlcvd8rk9NVwtZx2/DISE%C3%91O?node-id=10-3&t=uPPpvaRrYkJAtkM9-1">Ver proyecto →</a>
      </div>
    </div>

    <div class="card">
      <img src="academia.jpeg" alt="Proyecto 2" />
      <div class="card-content">
        <h3>ACADEM-IA Página interactiva</h3>
        <p>ACADEM-IA es una plataforma web interactiva que introduce los fundamentos de la inteligencia artificial a usuarios sin conocimientos técnicos, combinando contenido teórico claro con actividades prácticas y dinámicas para facilitar el aprendizaje y la comprensión de su impacto en la vida cotidiana.</p>
        <div class="flex flex-wrap gap-2 pb-2">
        <button class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">HTML</button>
         <button class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">CSS</button>
         <button class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">JavaScript</button>
         <button class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">Three.js</button >
        </div>
        <a href="https://academ-ia.netlify.app/">Ver proyecto →</a>
      </div>
    </div>

    <div class="card">
      <img src="back2k.png" alt="Proyecto 3" />
      <div class="card-content">
        <h3>BACK2K - TIENDA VIRTUAL</h3>
        <p>Back2k es una tienda web de moda desarrollada con React, que permite explorar productos, gestionar un carrito de compras y calcular el total de manera dinámica, ofreciendo una experiencia de usuario moderna y fluida.</p>
        <div class="flex flex-wrap gap-2 pb-2">
        <button class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">HTML</button>
         <button class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">CSS</button>
         <button class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">JavaScript</button >
         <button class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">React.js</button >
         <button class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">React Router</button >
          <button class="px-3 py-1 text-sm rounded-full
         border border-[var(--text-main)]
         text-[var(--text-main)]
         hover:bg-[var(--text-main)] hover:text-[var(--bg-main)]
         transition duration-300">Vite</button>
        </div>
        <a href="https://back2k.netlify.app/">Ver proyecto →</a>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">
        <div class="item item1">HTML</div>
        <div class="item item2">CSS</div>
        <div class="item item3">JavaScript</div>
        <div class="item item4">ASTRO</div>
        <div class="item item5">PYTHON</div>
        <div class="item item6">REACT</div>
        <div class="item item7">FIGMA</div>
        <div class="item item8">MYSQL</div>

    </div>

<section id="servicios" class=" services max-w-5xl mx-auto py-32 flex flex-col items-center text-center">
  
  <div>
    <h1 class="services-title text-[var(--text-main)] text-4xl font-bold mb-4">Mis Servicios</h1>
    <p class="services-subtitle text-white text-sm mb-10">
      Lo que puedo hacer por ti.
    </p> 
  </div>

  <div class="services-container">
    <!-- Card 1 -->
    <div class="service-card">
      <div class="icon-box">
        <img src="/icono1.png" alt="icono">
      </div>
      <h3>Desarrollo Web</h3>
      <p>
        Creación de páginas o aplicaciones web modernas y responsivas
        con las últimas tecnologías. Enfocadas en una experiencia de usuario clara, accesible y funcional.
      </p>
    </div>
     <!-- Card 3 -->
    <div class="service-card">
      <div class="icon-box">
        <img src="/icono2.png" alt="cohete">
      </div>
      <h3>UI / UX Diseño & Frontend</h3>
      <p>
        Diseño y desarrollo de interfaces web enfocadas en la experiencia del usuario, combinando estética, usabilidad y desarrollo frontend moderno.
      </p>
    </div>
  </div>
  
  <!-- BOTÓN -->
  <button class="btn-cta mt-8" id="openModal">Contrátame</button>

<dialog id="contactModal" class="modal">
  <div class="modal-content">
    <button class="close-btn" aria-label="Cerrar">✕</button>
    <h1>Contáctame</h1>

    <form id="contactForm">
      <input
        type="text"
        name="name"
        placeholder="Nombre"
        required
      />

      <input
        type="email"
        name="email"
        placeholder="Correo electrónico"
        required
      />

      <textarea
        name="message"
        placeholder="Mensaje"
        required
      ></textarea>

      <button type="submit" class="send-btn">
        Enviar
      </button>
    </form>
  </div>
</dialog>

<script>
  const modal = document.getElementById('contactModal') as HTMLDialogElement;
  const openBtn = document.getElementById('openModal');
  const closeBtn = document.querySelector('.close-btn');
  const form = document.getElementById('contactForm') as HTMLFormElement;

  openBtn?.addEventListener('click', () => modal?.showModal());
  closeBtn?.addEventListener('click', () => modal?.close());

  form?.addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const formData = new FormData(form);
    const data = Object.fromEntries(formData);

    try {
      const response = await fetch('https://formspree.io/f/xpqqqvbe', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });

      if (response.ok) {
        alert('¡Mensaje enviado correctamente!');
        form.reset();
        modal?.close();
      } else {
        alert('Error al enviar el mensaje');
      }
    } catch (error) {
      alert('Error de conexión');
      console.error(error);
    }
  });
</script>

</section>


<div class="wrapper">
        <div class="item item1">HTML</div>
        <div class="item item2">CSS</div>
        <div class="item item3">JavaScript</div>
        <div class="item item4">ASTRO</div>
        <div class="item item5">PYTHON</div>
        <div class="item item6">REACT</div>
        <div class="item item7">FIGMA</div>
        <div class="item item8">MYSQL</div>

    </div>

<div id="contacto" class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-16 text-center">
  <h2 class="text-[var(--text-main)] text-3xl font-bold mb-4">¡Gracias por llegar hasta aquí!</h2>
  <p class="text-white text-sm mb-6">
    ¿Listo para trabajar juntos? Envíame un mensaje y hablemos sobre tu proyecto.
  </p>

  </div>
  </main>

  <footer class="bg-[var(--bg-footer)] py-6 mt-12">
    <div class="max-w-5xl mx-auto px-6 text-center text-sm text-white">
      &copy; {new Date().getFullYear()} Danna Espitia. Todos los derechos reservados.
    </div>
</Layout>

